
::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000000;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3CCF91;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #249e6b;
  }
  html, body {
    background-color: black; 
  }